* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img1 {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

header {
    background-color: #000;
}

.title {
    color: black;
    -webkit-text-stroke: 1px rgb(248, 222, 73);
    font-size: 3.5em;
    font-weight: bolder;
    position: absolute;
    top: 5px;
    left: 10px;
}

.container {
    position: relative;
}

.subtitle {
    background-color: #000;
    color: rgb(248, 222, 73);
    text-align: center;
    margin-bottom: 40px;
}

.logo {
    height: 200px;
    position: absolute;
    top: -123px;
    right: 6%;
}

.current {
    text-decoration: none;
    color: #77a;
}

.indentation {
    text-indent: 1em;
    margin-bottom: 20px;
}

.navbar {
    display: inline-flex;
    flex-direction: column;
    margin: 0 40px;
}

.navitem {
    margin-bottom: 40px;
}

.info {
    display: inline-flex;
    flex-direction: column;
}

.email {
    margin-bottom: 20px;
}