* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: sans-serif;
}

header {
    background-color: #000;
}

.title {
    color: antiquewhite;
    font-size: 2.5em;
    font-weight: bolder;
    flex-grow: 1;
    margin-left: 10px;
    text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.411);
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 20px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: .3rem;
}

.navitem {
    font-size: 1.2em;
    color: blue;
    padding: 9px;
    border: 2px solid rgb(248, 222, 73);
    border-radius: .6em;
    margin-bottom: 5px;
}

.current {
    text-decoration: none;
    color: #77a;
}

a:hover {
    background-color: wheat;
}

.img-banner {
    display: block;
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.subtitle {
    background-color: #000;
    color: antiquewhite;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;    
}

.subtitle2 {
    text-align: center;
    font-size: 2em;
}

.logo {
    display: block;
    height: 100px;
}

.indentation {
    text-indent: 1em;
}

.mb20 {
    margin-bottom: 20px;
}

.mx60 {
    margin: 0 60px;
}

.info {
    margin: 0 30px;
    font-size: larger;
}

.email {
    margin-bottom: 10px;
}

div>h2 {
    font-weight: bolder;
    margin: 20px 0;
}

li {
    list-style-position: inside;
}

div>ol>li {
    margin-bottom: 10px;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.contact {
    display: flex;
    justify-content: space-between;
}

td {
    padding: 5px 50px;
}

table {
    margin-bottom: 40px;
}